body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
}

p {
  font-size: 0.7rem;
  margin: 3%;
}

#level-title h1 {
  font-size: 3rem;
  margin: 3%;
}

#level-title p {
  font-size: 2rem;
  margin: 3%;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.leaderboard {
  width: 20%;
  border-radius: 10px;
  display: block;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 2.5rem auto auto;
}

.leaderboard h1 {
  font-size: 1rem;
  display: inline-block;
  margin-left: 4px;
}

.leaderboard ol {
  counter-reset: number;
  background: #fa6855;
  margin: 0;
  padding: 0;
}

.leaderboard li {
  padding: 0.7rem;
  display: flex;
}

.leaderboard li mark {
  font-size: 0.8rem;
  flex-grow: 1;
  color: snow;
  background-color: transparent;
}

.leaderboard li small {
  font-size: 0.8rem;
  color: snow;
}

.leaderboard li:before {
  font-size: 0.7rem;
  color: snow;
  content: counter(number) "-";
  counter-increment: number;
  margin: auto;
  display: flex;
}


@media (max-width: 991px) {
  .btn {
    margin: 20px;
    display: inline-block;
    height: 180px;
    width: 180px;
    border: 10px solid black;
    border-radius: 20%;
  }
}
